<div id="colunaesquerda">
  <nav>
    <ul class="menuesquerdo">
      <li><a href="/admin/trabalhos">Listar Trabalhos</a></li>
    </ul>
  </nav>
</div><!-- Fim div coluna esquerda -->

<div id="colunadireita">
  <h1 class="barraformulario" >
    Editar Trabalho <%= @admin_trabalho.titulo %>
  </h1>
  <%= render 'form' %>
</div><!-- Fim div coluna Direita -->