<div id="colunaesquerda">
  <nav>
    <ul class="menuesquerdo">
      <li><a href="/admin">Trabalhos</a></li>
      <li><a href="/admin/trabalhos/new" title="Clique para criar um novo cadastro">Cadastrar Trabalho</a></li>
    </ul>
  </nav>
</div><!-- Fim div coluna esquerda -->

<div id="colunadireita">
  <h1 class="barraformulario" >
    Apoio
  </h1>

  <h1 class="barradicas" >Dicas para cadastrar esta sessão</h1>
  <p class="textodicas">
    <span class="destaquedicas">Listar Conteúdo Sobre:  </span> Esta opção apresentará todos os conteúdos sobre os trabalhos que eu participei cadastrados em ordem alfabética.  <br /> <br></br>
  </p>

  <div id="apoio">
    <%= render 'trabalho' %>
  </div>

</div><!-- Fim div coluna Direita -->