
  <% if !f.object.new_record? %>
  <p>
    <div class="editimg">
      <%= image_tag f.object.imagem.thumb('230x180').url %>
    </div>
  </p>
  <% end %>
  <p>
    <label class="labels">Selecione a Imagem</label>
    <%= f.file_field :imagem %>
    <%= f.hidden_field :retained_imagem %>
  </p>

