
  <% if !f.object.new_record? %>
  <p>
    <div class="editimg">
      <%= image_tag f.object.imagem(:thumb) %>
    </div>
  </p>
  <% end %>
  <div class="clearfix">
    <%= f.label :imagem, t("activerecord.attributes.sobre.nome", :default => "Selecione a Imagem"), :class => :label %>
    <div class="input">
      <%= f.file_field :imagem %>
    </div>
  </div>


