<p>
<label class="labels">Title:</label>
<%= seo.text_field :title, :placeholder => "texto que aparecerá com o hover do mouse"  %>
</p>
<p>
<label class="labels">Alt:</label>
<%= seo.text_field :alt ,:placeholder => "Texto que aparecerá quando a imagem/video não estiver disponivel" %>
</p>
<br />
<p>
<label class="labels">Description:</label>
<%= seo.text_area :description,:placeholder => "Este texto aparecerá na meta tag 'description' *Descrever o conteúdo da página com precisão e sucintamente *Servir de uma pequena propaganda para atrair tráfego orgânico *Para disponibilizar as palavras-chave para os buscadores "  %>
</p>

