
<p>
<label class="labels">Title:</label>
<%= seo.text_field :title, :placeholder => "texto que aparecerá com o hover do mouse"  %>
</p>
<p>
<label class="labels">Alt:</label>
<%= seo.text_field :alt ,:placeholder => "Texto que aparecerá quando a imagem/video não estiver disponivel" %>
</p>

