      <div class="ultimasBlog">
        <h2 class="titlesLeft">Confira as Últimas Postagens do Blog</h2><!-- Fim titles h2 -->
                
        <div class="ultimaPostagem">
          <a href="http://rorcaldas.com.br/blog/a-import%C3%A2ncia-do-l%C3%A1pis-no-seu-wireframe-e-layout" title="Clique aqui e veja mais sobre essa postagem" target="_blank">
            <div class="capaPost">
              <%= image_tag "system/capapost.jpg" %>
            </div><!-- Fim div Capa post -->

            <div class="previaPost">
              <h3>
                A importância do lápis no seu wireframe e layout. 
                Uma ferramenta moderna e inovadora.
              </h3>
                
              <p>
                Hoje vou falar de uma ferramenta moderna, 
                inovadora e simples, para você usar (muito) na 
                criação dos seus wireframe, esboços e projetos, o 
                lápis. Nesse post mostrarei como melhorar seus layouts, 
                relacionamento com o cliente e refinar suas criações.
                Hoje vou falar de uma ferramenta moderna, 
                inovadora e simples, para...              
              </p>
              <span class="vejaMais">[Veja +]</span>
            </div><!-- fim div previa post -->
          </a><!-- fim do a link que emgloba todo o post -->

        </div><!-- Fim div Ultima Postagem -->

        <div class="maisLidas">
          <h3>
            As 3 postagens mais visitadas
          </h3>
          <ul>
            <li><a href="http://rorcaldas.com.br/blog/automatizando-backups-no-rails-3-com-astrails-safe-e-whenever" title="Clique aqui para acessar" target="_blank">Automatizando Backups no Rails 3 com astrails-safe e whenever</a></li>
            <li><a href="http://rorcaldas.com.br/blog/criando-passo-a-passo-um-blog-com-ruby-on-rails-parte-01-%E2%80%93-instala%C3%A7%C3%A3o" title="Clique aqui para acessar" target="_blank">Criando passo a passo um Blog com Ruby on Rails parte 01 – Instalação.</a></li>
            <li><a href="http://rorcaldas.com.br/blog/usabilidade-e-a-avalia%C3%A7%C3%A3o-heur%C3%ADstica-em-web-sites-parte-2" title="Clique aqui para acessar" target="_blank">Usabilidade e a avaliação heurística em web sites - Parte #2.</a></li>
          </ul>
        </div><!-- Fim div Mais Lidas -->
      </div><!-- Fim div Ultimas do Blog  -->
