/******************** 
Globais Rest
*********************/
*{
  margin:0;
  padding:0;
}
header, section, footer,
aside, nav, article, figure {
  display: block;
}
fieldset {
  border:none;
}
ul, ol {
  list-style-type:none;
}
a {
  text-decoration:none;
  cursor: pointer;
}
a:hover {
  text-decoration:underline;
}
a img {
  border:none;
}
/***************************** 
FIM Globais Rest
*****************************/
body, body#home {
  background: url("TopoBg.png") top center repeat-x;
  font-family:  Arial, Verdana, sans-serife;
  font: 88% Arial, Verdana, sans-serife;
  text-align: center;
}
html {
  width: 100%;
  height: 100%;
  display: table;
  text-align: left;
  background: #26201d url("PaginaBg.png");
}
*::-moz-selection {
background: #de3612;
color:#ffffff; 
}
*::selection {
background: #de3612;
color:#ffffff; 
}
.topoPagina {
  text-align:left;
  overflow:hidden;
  width: 968px;
  height: 241px;
  margin:0 auto; 
}
a.visited{
  background: #de3612;
  color: #ffffff;
  text-decoration: none;
}
a.visited:hover {
  color: #2b2522;
}
  a.linklogo{
    width: 290px; 
    height: 227px;
    display: block;
    color: #fff;
    text-decoration: none;
    background:url("bgBoxs.png") no-repeat;
    float: left;
    }
      h1.logo {
        width: 290px; 
        height: 227px;
        position: relative; 
        text-indent: -9999px; 
        background-color:  #FFFFFF;
        background: url("bgBoxs.png") 0px -235px no-repeat;
        float: left;
      }
      a.linklogo:hover h1.logo{
        background: url("bgBoxs.png") 0px -462px no-repeat;
      }
  .topoPagina nav ul{
      width: 630px;
      height: 42px;
      display: block;
      float: left;
      margin: 15px 0 0 40px;
    }
      .topoPagina nav ul li{
        width: auto;
        height: 42px;
        display: block;
        margin: 0 22px 0 22px;
        float: left;
      }
      .topoPagina nav ul li.login{
        width: 13px;
        height: 27px;
        float: left;
        padding: 0;
        margin: 0;
      }
      .topoPagina nav ul li.login a{
        width: 13px;
        height: 27px;
        margin: 10px 0 0 0;
        background: url("bgBoxs.png") -1px -690px no-repeat;
      }
      .topoPagina nav ul li.login a:hover{
        background: url("bgBoxs.png") -20px -690px no-repeat;
      }
        .topoPagina nav ul li a{
          width: auto;
          height: 34px;
          display: block;
          font-size: 18pt;
          color: #ffffff;
          padding: 8px 4px 0 4px;
        }
        .topoPagina nav ul li a:hover{
          background: #de3612;
          text-decoration: none;
        }
  .topoPagina .fraseTopo{
    width: 664px;
    height: 122px;
    margin: 25px 0 0 0;
    background-color:  #FFFFFF;
    background: url("bgBoxs.png") -303px 0px no-repeat;
    float: left;
  }
    .topoPagina .fraseTopo span{
      width: 97px;
      height: 25px;
      display: block;
      color: #ffffff;
      font-size: 13pt;
      margin: 3px 0 0 25px;
    }
    .topoPagina .fraseTopo h2{
      width: 616px;
      height: 69px;
      display: block;
      margin: 12px 0 0 35px;
      text-align: justify;
      font-size: 20pt;
      font-weight: normal;
      color: #de3612;
    }
.meioPagina{
  text-align:left;
  overflow:hidden;
  width: 100%;
  height: auto;
  margin:0 auto; 
}
  .contentMeioPagina{
    text-align:left;
    width: 968px;
    height: auto;
    margin:0 auto; 
    padding: 15px 0 15px 0;
    display: table;
    clear: both;
  }




/******************* Inicio Pagina Login *******************/

      .contentMeioPagina .boxHorizontal form.login{
        width: 448px;
        height: auto;
        display: block;
        float: left;
        padding: 15px;
        background: url("Texturebg.png");
        font-family:  Arial, Verdana, sans-serife;
        margin: 0 0 0 244px;
      }
      .contentMeioPagina .boxHorizontal form.login fieldset{
        width: auto;
        height: auto;
        display: block;
        float: left;
      }
      .contentMeioPagina .boxHorizontal form.login fieldset p{
        width: 454px;
        height: auto;
        display: block;
        float: left;
      }
      .contentMeioPagina .boxHorizontalform.login fieldset p label{
        width: 454px;
        height: auto;
        display: block;
        color: #ffffff;
        font-size: 13pt;
      }
      .contentMeioPagina .boxHorizontal form.login fieldset p input{
        width: 443px;
        height: 28px;
        margin: 0 0 10px 0;
        display: block;
        color: #de3612;
        font-size: 13pt;
        background: url("gradeBg.png");
        border: none;
        padding: 2px;
      }
      .contentMeioPagina .boxHorizontal form.login fieldset p  input:focus{
        background: #f7ebfa; 
      }
      .contentMeioPagina .boxHorizontal form.login fieldset div.enviar{
        width: 443px;
        height: 30px;
        margin: 5px 0 0 0;
        *margin-top: 20px;
        display: block;
        float: left;
        text-align: left;
        font-size: 14pt;
        color: #ffffff;
      }
      .contentMeioPagina .boxHorizontal form.login fieldset div.enviar input{
        width: 110px;
        height: 30px;
        display: block;
        background: url("gradeBg.png");
        float: right;
        border: none;
        text-align: center;
        color: #de3612;
        font-size: 13pt;
        cursor: pointer;
      }
      .contentMeioPagina .boxHorizontal form.login fieldset div.enviar input:hover{
        color: #FFFFFF;
        background: #de3612; 
      }

/******************* Fim Pagina Login *******************/

.rodape{
  width: 100%;
  height: 53px;
  clear: both;
  background: url("RodapeBg.png") repeat-x;
}
  .contentRodape{
    width: 968px;
    height: 53px;
    margin: 0 auto; 
    clear: both;
  }
    .contentRodape nav ul{
      width: 480px;
      height: 54px;
      display: block;
      float: right;
      margin: 0 0 0 0;
      clear: both;
    }
      .contentRodape nav ul li{
        width: auto;
        height: 54px;
        display: block;
        margin: 0 18px 0 18px;
        float: left;
      }   
      .contentRodape nav ul li a{
        width: auto;
        height: 39px;
        display: block;
        font-size: 13pt;
        color: #ffffff;
        padding: 15px 2px 0 2px;
      }
      .contentRodape nav ul li a:hover{
        background: #de3612;
        text-decoration: none;
      }
      .contentRodape nav ul li.login{
        width: 13px;
        height: 27px;
        float: left;
        padding: 0;
        margin: 0;
      }
      .contentRodape nav ul li.login a{
        width: 13px;
        height: 27px;
        margin: 10px 0 0 0;
        background: url("bgBoxs.png") -1px -690px no-repeat;
      }
      .contentRodape nav ul li.login a:hover{
        background: url("bgBoxs.png") -20px -690px no-repeat;
      } 
    div.copyright{
      width: 421px;
      height: 53px;
      display: block;
      text-align: left;
      color: #ffffff;
      font-size: 10pt;
    }
    div.copyright a{
      color: #fafafa;
      font-weight: bold;
    }
    div.copyright span{
      width: 362px;
      height: 43px;
      display: block;
      float: left;
      padding: 10px 0 0 0;
    }
    div.copyright a.icoRodape{
      width: 59px;
      height: 53px;
      display: block;
      float: left;
      background: url("bgBoxs.png") -44px -690px no-repeat;
    }
    div.copyright a.icoRodape:hover{
      background: url("bgBoxs.png") -105px -690px no-repeat;
    }


@import "home.css.scss";
@import "contato.css.scss";
@import "sobre.css.scss";
@import "portfolio.css.scss";
