<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Internet Dreams</title>
  <%=  stylesheet_link_tag "admin/adm.css" %>
  <!--  jquery core -->
  <script src="/assets/admin/jquery-1.4.1.min.js" type="text/javascript"></script>

  <!-- Custom jquery scripts -->
  <script src="/assets/admin/custom_jquery.js" type="text/javascript"></script>

  <!-- MUST BE THE LAST SCRIPT IN <HEAD></HEAD></HEAD> png fix -->
  <script src="/assets/admin/jquery.pngFix.pack.js" type="text/javascript"></script>
  <script type="text/javascript">
      $(document).ready(function(){
          $(document).pngFix( );
      });
  </script>
</head>
<body id="login-bg">

<!-- Start: login-holder -->
<div id="login-holder">

  <!-- start logo -->
  <div id="logo-login">
    <a href="index.html"><%=  image_tag "/assets/admin/shared/logo.png" %></a>
    
  </div>
  <!-- end logo -->

  <div class="clear"></div>
    
    <%= yield %>

</div>
<!-- End: login-holder -->
</body>
</html>